
div.board {
  display: grid;
  grid-template-columns: 150px 150px 150px;
  grid-gap: 0;

  app-tile {
    border: 1px black solid;
    height: 150px;

    &:hover {
      cursor: pointer;
    }
  }
}



